/.vs/OSS_TeamProject
/OSS_TeamProject/x64/Debug/OSS_TeamProject.tlog
/OSS_TeamProject/x64/Debug/BP.obj
/OSS_TeamProject/x64/Debug/2048.obj
*.obj
*.pdb
*.log
*.recipe
/OSS_TeamProject/x64/Debug
*.exe
/OSS_TeamProject/OSS_TeamProject.vcxproj.filters
.vs/
/OSS_TeamProject/OSS_TeamProject.vcxproj
